// Add Option Error
.add-option-error {
    color: $off-white;
    font-style: italic;
    margin: 0;
    padding: 0 $m-size;
}

//Add Option
.add-option {
    display: flex;
    flex-direction: column; //items sit top to bottom
    padding: $m-size;
}

.add-option__input {
    background: $dark-blue;
    border: none;
    border-bottom: 0.3rem solid darken($dark-blue, 10%);
    color: $off-white;
    flex-grow: 1;
    margin: 0 0 $s-size 0;
    padding: $s-size;
}

@media (min-width: $desktop-breakpoint) {//Applies for large devices
    .add-option {
        flex-direction: row; //items sit left to right
    }

    .add-option__input {
        margin: 0 $s-size 0 0;
    }
}