// Widget
.widget {
    background: $light-blue;
    margin-bottom: $xl-size;
}

.widget__message {
    border-bottom: 0.1rem solid lighten($light-blue, 10%);
    color: $off-white;
    margin: 0;
    padding: $l-size;
    text-align: center;
}

.widget__message__number {
    color: $off-white;
    margin: 0;
    padding: $l-size;
    text-align: center;
    border: none;
}

// Widget Header
.widget-header {
    background: $blue;
    color: $off-white;
    padding: $m-size;
    display: flex;
    justify-content: space-between;
}

.widget-header__options {
    margin: 0;
}